.recipe {
	margin: 32px 98px;
   display: flex;
   justify-content: space-between;
}

.recipe__info p {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   padding-top: 16px;
}

.recipe__icons-set {
	display: flex;
}

.recipe__icons-set p{
   margin-right: 33px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
}

.recipe__ingredients ul {
	padding-left: 20px;
   margin: 0;
}

.recipe__instructions ol {
   list-style: none;
   counter-reset: item;
   padding: 0;
   margin: 0;
 }

.recipe__instructions li {
   counter-increment: item;
 }

.recipe__instructions li:before {
   margin-right: 10px;
   content: counter(item);
   border-radius: 100%;
   border: black 1px solid;
   color: black;
   width: 1.6em;
   text-align: center;
   display: inline-block;
}

.selectedImage {
   width: 532px;
   height: 355px;
}

.recipe h3 {
   padding-top: 32px;
   padding-bottom: 16px;
}

.recipe li {
   margin-bottom: 12px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
}

.recipe__images img {
   width: 532px;
   height: 355px;
}